function setAllChecked() {
  $('#product_ids_all').prop('checked', ($('#bulk_product_edit_items_body input[type="checkbox"]:checked').length == $('#bulk_product_edit_items_body input[type="checkbox"]').length));
}

function getProductData(selectBy, identifiers) {
  $.ajax({
    url: '<%= api_v1_bulk_product_edit_items_products_for_selection_path %>',
    data: {
      bulk_product_edit_id: <%= @bulk_product_edit.id %>,
      select_by: selectBy,
      identifiers: identifiers,
      token: Spree.api_key
    },
    success: function(data) {
      populateRows(data)
    }
  });
}

function populateRows(data) {
  display_area = $('#bulk_product_edit_items_body');
  display_area.empty();
  if (data.products.length === 0) {
    // return display_area.html("<div class='alert alert-info'>" + Spree.translations.no_results + "</div>");
  } else {
    rows = formatRows(data.products);
    display_area.html(rows);
    setAllChecked();
    assignClickEventListener();
    //return;
  }
  return true;
}

function formatRows(products) {
  template = '<tr>' +
      '<td><input type="checkbox" name="product_ids[]" value="PRODUCT_ID"SELECTED></td>' +
      '<<td class="product_id">PRODUCT_ID</td>' +
      '<<td class="sku">PRODUCT_SKU</td>' +
      '<td class="image"><img src="PRODUCT_THUMBNAIL"></td>' +
      '<td class="name">PRODUCT_NAME</td>' +
      '<td class="actions"><a name="View" class="btn btn-primary btn-sm icon-link with-tip action-eye-open no-text" target="_blank" href="/products/PRODUCT_ID"><span class="icon icon-eye-open"></span> </a></td>' +
      '</tr>';

  rows = '';
  for (i = 0, len = products.length; i < len; i++) {
    rows +=  template.replace(/PRODUCT_ID/g, products[i]['id'])
        .replace(/SELECTED/, (products[i]['selected'] ? ' checked' : ''))
        .replace(/PRODUCT_SKU/, products[i]['sku'])
        .replace(/PRODUCT_THUMBNAIL/, products[i]['thumbnail'])
        .replace(/PRODUCT_NAME/, products[i]['name']);
  }
  return rows;
}

function assignClickEventListener() {
  // Dynamically inserted checkboxes don't have a click event, we have to look at the container
  $('#bulk_product_edit_items_body').on('click', ':checkbox', function(){
    if (!$(this).is(':checked')) {
      $('#bulk_product_edit_items_header').removeClass('order-selected');
      $('#bulk_product_edit_items_body tr').removeClass('order-selected');
      $(this).closest('tr').addClass('order-selected');
    } else {
      $(this).closest('tr').removeClass('order-selected');
    }
  });
}

$(function(){
  setAllChecked();

  $('#product_ids_all').click(function(){
    input_name = 'product_ids[]';
    $('input[name="'+input_name+'"]').prop('checked', $(this).is(':checked'));
  });

  // Dynamically inserted checkboxes don't have a click event, we have to look at the container
  $('#bulk_product_edit_items_body').on('click', ':checkbox', function() {
    setAllChecked();
  });

  <% if select_by == 'taxon' %>
    $('#product_taxon_ids').change(function(e){
      getProductData('taxon', e.val);
    });
  <% else %>
    $('#product_skus').change(function(){
      getProductData('sku', $(this).val().split(','));
    });
  <% end %>
});
