<%= debug params %>
<%= debug @tmp %>



        <%#= content_tag :div, id: 'taxons_field', class: 'form-group' do %>
            <%#= f.label :taxon_ids, Spree.t(:taxons) %>

            <%# if can? :modify, Spree::Classification %>
                <%#= f.hidden_field :taxon_ids, value: @product.taxon_ids.join(',') %>
            <%# elsif @product.taxons.any? %>
                <!--<ul class="text_list">-->
                  <%# @product.taxons.each do |taxon| %>
                      <li><%#= taxon.name %></li>
                  <%# end %>
                <!--</ul>-->
            <%# else %>
                <!--<div class="alert alert-info"><%#= Spree.t(:no_resource_found, resource: :taxons) %></div>-->
            <%# end %>

        <%# end %>
